@charset "UTF-8";

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
div {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #333;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

button{
  cursor: pointer;
}

/* 背景の色と画面について */

.contents
{
  background-color: #f3f0e9;
  min-height: 100vh;
  background-size: cover;
}

.contents2
{
  background-image:url("../../static/photo/photostudio-7-designify\ \(2\).png");
  min-height: 100vh;
  background-size: cover;
}


.content {
  width: 1040px;
  margin: 0 auto;
}

/* signupとloginについて */
.signup {
  text-align: center;
  padding-top:60px;
}

.signup-name {
  height: 40px;
  width:200px;
}


.button {
  border-radius: 100px;
  display: block;
  width: 200px;
  padding: 15px;
  box-sizing: border-box;
  background: #EF866B;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  margin: 10px 0;
  border: none;
  margin-left: 75px;
  margin-top: 40px;
  font-size:16px;
}

.button:hover 
{
	opacity:0.8;
  cursor: pointer;
}

.button:active 
{
	-webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;
  cursor: pointer;
}


.signup-forms {
  width:350px;
  margin:0 auto;
  margin-top: 30px;
}

.password
{
  margin-top:20px;
}

/* 灰色部分画面について */
.yellow
{
  background-color: #606060;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-top:20px;
  padding-bottom:20px;
}

.header-logo h1
{
  color: #FFF;
  opacity: 0.8;
}

#header-logo{
  text-decoration: none;
}

.header-img{
  width:20px;
  height:20px;
  margin-left:30px;
  margin-top:2px;
}

.header-imgs{
  width:100%;
  height:100%;
  object-fit:contain;
}

.header-list ul{
  display:flex;
}
  
.header-img2{
  margin-left:30px;
}

.header-img2 a
{
  color: #FFF;
  opacity: 0.8;
}

.headline{
  text-decoration: underline;
  padding-bottom:10px;
}

.title{
  padding-bottom:10px;
}

.text{
  padding-bottom:10px;
}

/* create.html,upload.htmlについて */
.element1
{
  padding-top:30px;
}

.element2, .element3, .element4, .element5
{
  display:none;
  padding-top:20px;
}  

.space
{
  padding-top:15px;
}

.create-contents
{
  width: 650px;
  background-color: #f7f7f7;
  margin:0 auto;
  margin-top:15px;
  padding-top:40px;
  padding-bottom:25px;
}

.create-contents2
{
  width: 550px;
  background-color: #f7f7f7;
  margin:0 auto;
}

.create-contents2 input
{
  display:block;
  margin: 0 auto;
}

.create-contents2 textarea
{
  display: block;
  width:80%;
  margin: 0 auto;
}

.create-h1
{
  text-align: center;
}

.create-title
{
  width:80%;
  margin:0 auto;
  height:50px;
}

.create-content
{
  width:80%;
  height:50px;
}

.create-buttons
{
  text-align: right;
}

.create-button1,.create-button5,.create-button6,.create-button7,.create-button8
{
  margin-right:55px;
}

/* upload.htmlについて */
.tags
{
  text-align: center;
}

.jpeg
{
  text-align:center;
  margin-bottom:25px;
}

.jpeg p
{
  margin-top:5px;
}

/* create_tag.htmlについて */
.tag-h1
{
  text-align: center;
}

.bluetags
{
  padding-top:5px;
}

.orangetags,.redtags,.greentags,.yellowtags
{
  margin-top:10px;
}

.bluetags p,.orangetags p,.redtags p,.greentags p,.yellowtags p
{
  margin-bottom:10px;
}

.bluetags1,.orangetags1,.redtags1,.greentags1,.yellowtags1,.bluetags2,.orangetags2,.redtags2,.greentags2,.yellowtags2
{
  display:none;
  margin-top:20px;
}

.instance1
{
  display:none;
  margin-top:5px;
}

.create-tag
{
  border:none;
  margin:0;
  display:inline-block;
}

.tag-check
{
  border-radius: 15px;
}

.tag-button
{
  margin:0 auto;
  margin-top:30px;
}

/* index.htmlについて */
.index-h1
{
  text-align: center;
}


.index-contents
{
  width: 550px;
  background-color: #f7f7f7;
  margin:0 auto;
}

.index-box
{
  width:55%;
  margin:0 auto;
}

.index-buttons
{
  display:flex;
  justify-content: center;
}

.index-button
{
  margin:40px 10px 0 10px;
}

.index-space
{
  padding:7px;
}

.index-content
{
  margin-top:15px;
}

/* 入力フォームを縦に伸ばさない */
textarea{
  vertical-align: middle;
}

/* flash */
.message{
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  background: rgba(255,0,0,0.5)
}

/* 改行を反映させる*/
p {
  white-space: pre-wrap;
}

.tag1{
  background-color:lightblue;
  color:#333;
}

.tag2{
  background-color:lightsalmon;
  color:#333;
}

.tag3{
  background-color:lightcoral;
  color:#333;
}

.tag4{
  background-color:lightgreen;
  color:#333;
}

.tag5{
  background-color:lightyellow;
  color:#333;
}

