<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="趣味さんぽ　あなたに合った趣味を検索・布教できるwebサイト" />
        <meta name="twitter:description" content="趣味の魅力を５つのタイプに分解！" />
        <meta name="twitter:image" content="https://lh3.googleusercontent.com/pw/AL9nZEU5E-nFshO577DQTJCndaevQ_FxOq-H6iw85znFF-a5_dnclQdJ0IVcwtp_KEu9LK7WTOhGrUDoS7Hd6x2ogXyvCdhCeGIfadKF-EEg9M1ATUyXhf0guTNAu7by4mvJWBm_T8mj3xBi_X9JUoZj9sQ=w500-h113-no?authuser=0" />
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- js -->
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/script.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/slick-theme.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link href="../static/css/styles.css" rel="stylesheet">

        {{ fontawesome_html() }}
    </head>
    <body>
        <div class="yellow">
            <div class="content">
                <header>
                    <div class="header-logo">
                        <a href="/" id="header-logo"><img src="../static/photo/Logo_gray.jpeg"></a>
                    </div>
                    <div class="header-list">
                        <ul>
                            {% if current_user.is_authenticated == True %}
                            <li class="header-img2"><a href="/select">みんなの投稿を検索</a></li>
                            <li class="header-img2"><a href="/create" role="button">新規作成画面</a></li>
                            <li class="header-img2"><a href="/user/show" role="button">自分の投稿一覧</a></li>
                            <li class="header-img2"><a href="/logout" role="button">ログアウト</a></li>
                            {% else %}
                            <li class="header-img2"><a href="/signup" role="button">ユーザー登録</a></li>
                            <li class="header-img2"><a href="/login" role="button">ログイン</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </header>
                <div class="search">
                </div>
            </div>
        </div>
        <!-- flashメッセージ -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>
</html>
