<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- js -->
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/script.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/slick-theme.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link href="../static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="yellow">
            <div class="content">
                <header>
                    <div class="header-logo">
                        <h1>ブログアプリケーション</h1>
                    </div>
                    <div class="header-list">
                        <ul>
                            <li class="header-img2"><a href="/">みんなの投稿一覧</a></li>
                            <li class="header-img2"><a href="/create" role="button">新規作成画面</a></li>
                            <li class="header-img2"><a href="/user/show" role="button">自分の投稿一覧</a></li>
                            <li class="header-img2"><a href="/signup" role="button">会員登録</a></li>
                            <li class="header-img2"><a href="/login" role="button">ログアウト</a></li>
                        </ul>
                    </div>
                </header>
                <div class="search">
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>