{% extends 'base.html' %}
{% block content %}
<div class="contents2">
    <div class="content space">
        <h1 class="create-h1">新規作成画面</h1>
        <div class="create-contents">
            <div class="create-contents2">
                <form method="POST">
                    <input class="create-title" placeholder="タイトル" type="text" name="title">
                    <div class="element1">
                        <input class="create-content" placeholder="見出し" type="text" name="headline1">
                        <textarea rows="13"  placeholder="内容" type="text" name="body1"></textarea>
                        <div class="create-buttons">
                            <button type="button" class="create-button1">文章を追加</button>
                        </div>
                    </div>
                
                    <div class="element2">
                        <input class="create-content" placeholder="見出し" type="text" name="headline2">
                        <textarea rows="13"  placeholder="内容" type="text" name="body2"></textarea>
                        <div class="create-buttons">
                        <button type="button" class="create-button2">文章を追加</button>
                        <button type="button" class="create-button5">削除</button>
                        </div>
                
                    </div>
                
                    <div class="element3">
                        <input class="create-content" placeholder="見出し" type="text" name="headline3">
                        <textarea rows="13"  placeholder="内容" type="text" name="body3"></textarea>
                        <div class="create-buttons">
                        <button type="button" class="create-button3">文章を追加</button>
                        <button type="button" class="create-button6">削除</button>
                        </div>
                    </div>
                
                    <div class="element4">
                        <input class="create-content" placeholder="見出し" type="text" name="headline4">
                        <textarea rows="13"  placeholder="内容" type="text" name="body4"></textarea>
                        <div class="create-buttons">
                        <button type="button" class="create-button4">文章を追加</button>
                        <button type="button" class="create-button7">削除</button>
                        </div>
                    </div>
                
                    <div class="element5">
                        <input class="create-content" placeholder="見出し" type="text" name="headline5">
                        <textarea rows="13"  placeholder="内容" type="text" name="body5"></textarea>
                        <div class="create-buttons">
                        <button type="button" class="create-button8">削除</button>
                        </div>
                    </div>
                    <input type="submit" class="button" value="次へ">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}