{% extends 'base.html' %}
{% block content %}
<h1>新規登録画面</h1>
<form method="POST">
<label for="tag">タグ1</label>
<input type="text" name="tag1-1">

<label for="tag">タグ1</label>
<input type="text" name="tag1-2">

<label for="tag">タグ1</label>
<input type="text" name="tag1-3">

<label for="tag">タグ1</label>
<input type="text" name="tag1-4">

<label for="tag">タグ1</label>
<input type="text" name="tag1-5">

<p></p>

<label for="tag">タグ1</label>
<input type="text" name="tag2-1">

<label for="tag">タグ1</label>
<input type="text" name="tag2-2">

<label for="tag">タグ1</label>
<input type="text" name="tag2-3">

<label for="tag">タグ1</label>
<input type="text" name="tag2-4">

<label for="tag">タグ1</label>
<input type="text" name="tag2-5">

<p></p>

<label for="tag">タグ1</label>
<input type="text" name="tag3-1">

<label for="tag">タグ1</label>
<input type="text" name="tag3-2">

<label for="tag">タグ1</label>
<input type="text" name="tag3-3">

<label for="tag">タグ1</label>
<input type="text" name="tag3-4">

<label for="tag">タグ1</label>
<input type="text" name="tag3-5">

<p></p>

<label for="tag">タグ1</label>
<input type="text" name="tag4-1">

<label for="tag">タグ1</label>
<input type="text" name="tag4-2">

<label for="tag">タグ1</label>
<input type="text" name="tag4-3">

<label for="tag">タグ1</label>
<input type="text" name="tag4-4">

<label for="tag">タグ1</label>
<input type="text" name="tag4-5">

<p></p>

<label for="tag">タグ1</label>
<input type="text" name="tag5-1">

<label for="tag">タグ1</label>
<input type="text" name="tag5-2">

<label for="tag">タグ1</label>
<input type="text" name="tag5-3">

<label for="tag">タグ1</label>
<input type="text" name="tag5-4">

<label for="tag">タグ1</label>
<input type="text" name="tag5-5">

<input type="submit" value="投稿">
</form>
{% endblock %}