{% extends 'base.html' %}
{% block content %}
<h1>新規登録画面</h1>
<form method="POST">
<p>既存のタグから選択</p>
{% for t in tag1 %}
<label><input type="checkbox" name="existing" value='{{t.id}}'>{{t.name}}</label>
{% endfor %}
<p>新しくタグを追加</p>
<label for="tag">タグ1</label>
<input type="text" name="tag1-1">

<label for="tag">タグ1</label>
<input type="text" name="tag1-2">

<label for="tag">タグ1</label>
<input type="text" name="tag1-3">

<label for="tag">タグ1</label>
<input type="text" name="tag1-4">

<label for="tag">タグ1</label>
<input type="text" name="tag1-5">

<p></p>

<p>既存のタグから選択</p>
{% for t in tag2 %}
<label><input type="checkbox" name="existing" value='{{t.id}}'>{{t.name}}</label>
{% endfor %}
<p>新しくタグを追加</p>

<label for="tag">タグ1</label>
<input type="text" name="tag2-1">

<label for="tag">タグ1</label>
<input type="text" name="tag2-2">

<label for="tag">タグ1</label>
<input type="text" name="tag2-3">

<label for="tag">タグ1</label>
<input type="text" name="tag2-4">

<label for="tag">タグ1</label>
<input type="text" name="tag2-5">

<p></p>

<p>既存のタグから選択</p>
{% for t in tag3 %}
<label><input type="checkbox" name="existing" value='{{t.id}}'>{{t.name}}</label>
{% endfor %}
<p>新しくタグを追加</p>
<label for="tag">タグ1</label>
<input type="text" name="tag3-1">

<label for="tag">タグ1</label>
<input type="text" name="tag3-2">

<label for="tag">タグ1</label>
<input type="text" name="tag3-3">

<label for="tag">タグ1</label>
<input type="text" name="tag3-4">

<label for="tag">タグ1</label>
<input type="text" name="tag3-5">

<p></p>

<p>既存のタグから選択</p>
{% for t in tag4 %}
<label><input type="checkbox" name="existing" value='{{t.id}}'></label>
{% endfor %}
<p>新しくタグを追加</p>
<label for="tag">タグ1</label>
<input type="text" name="tag4-1">

<label for="tag">タグ1</label>
<input type="text" name="tag4-2">

<label for="tag">タグ1</label>
<input type="text" name="tag4-3">

<label for="tag">タグ1</label>
<input type="text" name="tag4-4">

<label for="tag">タグ1</label>
<input type="text" name="tag4-5">

<p></p>

<p>既存のタグから選択</p>
{% for t in tag5 %}
<label><input type="checkbox" name="existing" value='{{t.id}}'>{{t.name}}</label>
{% endfor %}
<p>新しくタグを追加</p>
<label for="tag">タグ1</label>
<input type="text" name="tag5-1">

<label for="tag">タグ1</label>
<input type="text" name="tag5-2">

<label for="tag">タグ1</label>
<input type="text" name="tag5-3">

<label for="tag">タグ1</label>
<input type="text" name="tag5-4">

<label for="tag">タグ1</label>
<input type="text" name="tag5-5">

<input type="submit" value="投稿">
</form>
{% endblock %}