{% extends 'base.html' %}
{% block content %}
<div class="contents2">
  <div class="content space">
    <h1 class="tag-h1">魅力タグを追加しましょう</h1>
    <p class="center pad20">あなたの趣味がよりマッチしそうな人に見つけてもらうために、魅力タグを追加してみましょう。このサイトでは、人の特性に応じた趣味の楽しさに合わせて、魅力を5種類のタイプに分けました。魅力は動詞系で、タイプに沿った書き方をしてみてください。
      追加しないタイプが合っても構いませんが、必ず一つ以上魅力タグをつけてください。</p>
    <div class="tags">
      <form method="POST">
        <div class="bluetags">
          <p><span class="tag1 index-space">成長系</span><button type="button" class="question1">?</button></p>
          <p class="instance1 description">このタイプは趣味を続けることによって自分が成長することにより魅力が生まれます。
            例:#強くなる #筋肉をつける #かっこよくなる
          </p>
          <div class="tags">
            <button type="button" class="tag-button1">既存の魅力タグから選択</button>
            <button type="button" class="tag-button2">新しく魅力タグを追加</button>
            <div class="bluetags1">
              {% for t in tag1 %}
              <label class="tag1 check-label"><input type="checkbox" class="check-input" name="existing" value='{{t.id}}'><span class="check-span">{{t.name}}</span></label>
              {% endfor %}
            </div>
            <div class="bluetags2">
              <input type="text" placeholder="記入してください" class="tag1 create-tag button black" name="tag1-1">
              <input type="text" class="tag1 create-tag button black" name="tag1-2">
              <input type="text" class="tag1 create-tag button black" name="tag1-3">
              <input type="text" class="tag1 create-tag button black" name="tag1-4">
              <input type="text" class="tag1 create-tag button black" name="tag1-5">
            </div>
          </div>
        </div>
        <div class="orangetags">
          <p><span class="tag2 index-space">感動系</span><button type="button" class="question2">?</button></p>
          <p class="instance2 description">このタイプは趣味を通じて新しいものに出会い、感動することにより魅力が生まれます。
            例:#予想外の展開に感動する #伏線回収に心動かされる #知らない土地の喫茶店に感動する
          </p>
          <div class="tags">
            <button type="button" class="tag-button3">既存の魅力タグから選択</button>
            <button type="button" class="tag-button4">新しく魅力タグを追加</button>
            <div class="orangetags1">
              {% for t in tag2 %}
              <label class="tag2 check-label"><input type="checkbox" class="check-input" name="existing" value='{{t.id}}'><span class="check-span">{{t.name}}</span></label>
              {% endfor %}
            </div>
            <div class="orangetags2">
              <input type="text" placeholder="記入してください" class="tag2 create-tag button black" name="tag2-1">
              <input type="text" class="tag2 create-tag button black" name="tag2-2">
              <input type="text" class="tag2 create-tag button black" name="tag2-3">
              <input type="text" class="tag2 create-tag button black" name="tag2-4">
              <input type="text" class="tag2 create-tag button black" name="tag2-5">
            </div>
          </div>
        </div>
        <div class="redtags">
          <p><span class="tag3 index-space">交流系</span><button type="button" class="question3">?</button></p>
          <p class="instance3 description">このタイプは、他者と交流することによって魅力が生まれます。
            例:#友達と一緒に遊ぶ #メンバーと仲良くなる #読者と交流する #飼い犬と遊ぶ
          </p>
          <div class="tags">
            <button type="button" class="tag-button5">既存の魅力タグから選択</button>
            <button type="button" class="tag-button6">新しく魅力タグを追加</button>
            <div class="redtags1">
              {% for t in tag3 %}
              <label class="tag3 check-label"><input type="checkbox" class="check-input" name="existing" value='{{t.id}}'><span class="check-span">{{t.name}}</span></label>
              {% endfor %}
            </div>
            <div class="redtags2">
              <input type="text" placeholder="記入してください" class="tag3 create-tag button black" name="tag3-1">
              <input type="text" class="tag3 create-tag button black" name="tag3-2">
              <input type="text" class="tag3 create-tag button black" name="tag3-3">
              <input type="text" class="tag3 create-tag button black" name="tag3-4">
              <input type="text" class="tag3 create-tag button black" name="tag3-5">
            </div>
          </div>
        </div>
        <div class="greentags">
          <p><span class="tag4 index-space">創作系</span><button type="button" class="question4">?</button></p>
          <p class="instance4 description">このタイプは自分で何かしらの作品を作り上げることによる魅力です。
            例:#好きなものを作る #自分を表現する #自分の世界を他人と共有する
          </p>
          <div class="tags">
            <button type="button" class="tag-button7">既存の魅力タグから選択</button>
            <button type="button" class="tag-button8">新しく魅力タグを追加</button>
            <div class="greentags1">
              {% for t in tag4 %}
              <label class="tag4 check-label"><input type="checkbox" class="check-input" name="existing" value='{{t.id}}'><span class="check-span">{{t.name}}</span></label>
              {% endfor %}
            </div>
            <div class="greentags2">
              <input type="text" placeholder="記入してください" class="tag4 create-tag button black" name="tag4-1">
              <input type="text" class="tag4 create-tag button black" name="tag4-2">
              <input type="text" class="tag4 create-tag button black" name="tag4-3">
              <input type="text" class="tag4 create-tag button black" name="tag4-4">
              <input type="text" class="tag4 create-tag button black" name="tag4-5">
            </div>
          </div>
        </div>
        <div class="yellowtags">
          <p><span class="tag5 index-space">実益系</span><button type="button" class="question5">?</button></p>
          <p class="instance5 description">このタイプは、趣味を通じて、楽しい時間以外の何かを得られることにより魅力が生まれます。
            例:#お金を稼ぐ #運動不足を解消する #ストレスを解消する
          </p>
          <div class="tags">
            <button type="button" class="tag-button9">既存の魅力タグから選択</button>
            <button type="button" class="tag-button10">新しく魅力タグを追加</button>
            <div class="yellowtags1">
              {% for t in tag5 %}
              <label class="tag5 check-label"><input type="checkbox" class="check-input" name="existing" value='{{t.id}}'><span class="check-span">{{t.name}}</span></label>
              {% endfor %}
            </div>
            <div class="yellowtags2">
              <input type="text" placeholder="記入してください" class="tag5 create-tag button black" name="tag5-1">
              <input type="text" class="tag5 create-tag button black" name="tag5-2">
              <input type="text" class="tag5 create-tag button black" name="tag5-3">
              <input type="text" class="tag5 create-tag button black" name="tag5-4">
              <input type="text" class="tag5 create-tag button black" name="tag5-5">
            </div>
          </div>
        </div>
    </div>
    <div class="tag-buton">
      <input type="submit" class="button tag-button" value="追加">
    </div>
    </form>
  </div>
</div>

{% endblock %}