{% extends 'base.html' %}

{% block content %}
<div class="contents2">
    <div class="content space">
        <h1 class="index-h1">あなたは？</h1>
        <div class="create-contents">
            <div class="create-contents2">
                <form method="POST" name="search">
                    <label><input type="checkbox" name="check" value='1'>自分が成長する = 何かを成し遂げる</label>
                    <p></p>
                    <label><input type="checkbox" name="check" value='2'>新しいものに出会って感動する</label>
                    <p></p>
                    <label><input type="checkbox" name="check" value='3'>人（動物）と交流する</label>
                    <p></p>
                    <label><input type="checkbox" name="check" value='4'>何かをつくりあげる　自分を表現する</label>
                    <p></p>
                    <label><input type="checkbox" name="check" value='5'>実益を兼ねる</label>
                    <p></p>
                    <input type="submit" name="orsearch" value="OR検索">
                    <p></p>
                    <input type="submit" name="andsearch" value="AND検索">


                </form>
                {% for blogarticle in blogarticles %}
                <article>
                    <img src="../static/image/{{ blogarticle.image }}">
                    <a href="/article/{{ blogarticle.id }}">
                        <h1 class="title">{{ blogarticle.title }}</h1>
                    </a>
                    <p>投稿主:{{ names[blogarticle.id] }}</p>
                    {% for tag in tags[blogarticle.id] %}
                    <p class='tag{{tag["type"]}}'>{{ tag["name"] }}</p>
                    {% endfor %}

                    <p>作成日時：{{ blogarticle.created_at }}</p>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</div>