{% extends 'base.html' %}
<link href="../static/css/index.css" rel="stylesheet">
{% block content %}
<div class="contents">
    <div class="content space">
        <h1 class="index-h1">あなたはどんなタイプ？</h1>
        <div class="create-contents">
            <div class="index-contents">
                <form method="POST" name="search">
                    <div class="index-box">
                        <label class="check-label"><input type="checkbox" name="check" class="check-input" value="1"><span class="check-span">成長することに喜びを感じる</span></label>

                        <label class="check-label2"><input type="checkbox" name="check" class="check-input2" value="2"><span class="check-span2">新しいものに出会って感動したい</span></label>

                        <label class="check-label3"><input type="checkbox" name="check" class="check-input3" value="3"><span class="check-span3">人や動物と交流するのが好き</span></label>

                        <label class="check-label4"><input type="checkbox" name="check" class="check-input4" value="4"><span class="check-span4">創作や自己表現が好き</span></label>

                        <label class="check-label5"><input type="checkbox" name="check" class="check-input5" value="5"><span class="check-span5">趣味を通じて何かを得たい</span></label>

                    </div>
                    <div class="index-buttons">
                        <input type="submit" name="orsearch" class="button index-button" value="検索">
                        <input type="submit" name="andsearch" class="button index-button" value="AND検索">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}