{% extends 'base.html' %}
{% block content %}
<p>このサイトでは、あなたの新しい趣味を探すお手伝いをします！他の方が投稿した自分の趣味の魅力を伝える記事を読むことで、いろんな趣味について知ることができます！</p>
<p>でも、趣味ってあまりにもたくさん種類があって、どんな趣味が自分に向いているかわからないですよね。
    そこで私たちは、趣味の楽しさを5つのタイプに分類し、タイプを持ったタグをつけてもらうことで自分にあった趣味を検索しやすいようにしました！</p>
<h3>①自分の成長、目標実現</h3>
<p>これらのタグは、趣味を続けることによって自分が成長する、もしくは何かしらの目標を達成するタイプです。例えば、競技的にスポーツやゲームに取り組む場合、ビジネス書を読んだり資格を獲得する場合、社会課題を解決する活動をするなどがあげられるでしょう。
    成長するために努力をすることが好きな方におすすめのタグです。
</p>
<p>タグ例:#思考力を高める #ゲームを上達する #貧困問題を解決する</p>
<h3>②新たなものと出会い、感動する</h3>
<p>これらのタグは、新たな物と出会い、心を動かされるタイプです。例えば、映画鑑賞、美術館巡り、知らない土地を散歩など。</p>
<p>タグ例:#予想外の展開に感動する #伏線回収に心動かされる #知らない土地の喫茶店に感動する</p>
<h3>③他者と交流する</h3>
<p>これらのタグは、他人、もしくは動物などと交流するタイプです。人とつながる多くの趣味に当てはまります。</p>
<p>タグ例：#チームで遊ぶ #対戦する #人と話す #読者と交流する #飼い犬と遊ぶ</p>
<h3>④なにかを作り上げる・自己表現</h3>
<p>これらのタグは、創作活動や、芸術的な活動をするタイプです。例えば、小説を書いたり、曲を作ったり、ブログを書いたりなどの趣味が当てはまるでしょう。</p>
<p>タグ例:#音楽を作る #小説を書く #動画投稿をする</p>
<h3>⑤実益を兼ねる</h3>
<p>これらのタグは、その趣味をやることで主に副次的に得られるものがあるタイプです。例えば、動画投稿で広告収入を得たり、スポーツで運動不足が解消されるなどの場合が当てはまるでしょう。</p>
<p>タグ例:#お金を稼ぐ #運動不足を解消する #ストレスを解消する </p>
<p>あなたにはどのタイプの趣味が合ってそうでしょうか？　趣味は色々な楽しみ方があるので、これらのタグは複数ついています。タグタイプで絞り込んで、and検索やor検索をすることができます。今すぐ趣味を検索してみましょう！</p>
<a href="/"><p>今すぐ検索！</p></a>
{% endblock %}