{% extends 'base.html' %}
{% block content %}
<div class="contents2">
    <div class="content">
        <div class="search">
            <div class="search-show">
                <form method="GET" name="search">
                    <input type="submit" value="条件を選びなおす">
                </form>
                {% if "1" in types%}
                <p>自分が成長する = 何かを成し遂げる を選択しました</p>
                {% endif %}
                {% if "2" in types%}
                <p>新しいものに出会って感動する を選択しました</p>
                {% endif %}
                {% if "3" in types%}
                <p>人（動物）と交流する を選択しました</p>
                {% endif %}
                {% if "4" in types%}
                <p>何かをつくりあげる　自分を表現する を選択しました</p>
                {% endif %}
                {% if "5" in types%}
                <p>実益を兼ねる を選択しました</p>
                {% endif %}
                <article>
                    {% for blogarticle in blogarticles %}
                    <div class="blog-content">
                        <a class="search-link" href="/article/{{ blogarticle.id }}">
                            <div class="search-photo">
                                <img src="../static/image/{{ blogarticle.image }}">
                            </div>
                            <h1 class="title">{{ blogarticle.title }}</h1>
                            <p>投稿主:{{ names[blogarticle.id] }}</p>
                            {% for tag in tags[blogarticle.id] %}
                            <p class='tag{{tag["type"]}}'>{{ tag["name"] }}</p>
                            {% endfor %}
                            <p>作成日時：{{ blogarticle.created_at }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}