{% extends 'base.html' %}
{% block content %}
<div class="contents">
    <div class="content">
        <div class="search">
            <div class="search-show">
                {% if "1" in types%}
                <p class="search-text"><span class="tag1 search-space">成長することに喜びを感じる</span> を選択しました</p>
                {% endif %}
                {% if "2" in types%}
                <p class="search-text"><span class="tag2 search-space">新しいものに出会って感動したい</span> を選択しました</p>
                {% endif %}
                {% if "3" in types%}
                <p class="search-text"><span class="tag3 search-space">人や動物と交流するのが好き</span> を選択しました</p>
                {% endif %}
                {% if "4" in types%}
                <p class="search-text"><span class="tag4 search-space">創作や自己表現が好き</span> を選択しました</p>
                {% endif %}
                {% if "5" in types%}
                <p class="search-text"><span class="tag5 search-space">趣味を通じて何かを得たい</span> を選択しました</p>
                {% endif %}
                <article>
                    {% for blogarticle in blogarticles %}
                    <div class="blog-content">
                        <a class="search-link" href="/article/{{ blogarticle.id }}">
                            <div class="search-photo">
                                <img src="../static/image/{{ blogarticle.image }}">
                            </div>
                            <h1 class="title">{{ blogarticle.title }}</h1>
                            <p>投稿主:{{ names[blogarticle.id] }}</p>
                            {% for tag in tags[blogarticle.id] %}
                            <p class='tag{{tag["type"]}}'>{{ tag["name"] }}</p>
                            {% endfor %}
                            <p>作成日時：{{ blogarticle.created_at }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </article>
                <form method="GET" name="search">
                    <input type="submit" class="button search-button" value="条件を選びなおす">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}