{% extends 'base.html' %}
{% block content %}
<div class="contents space">
    <div class="article-contents">
        <div class="article-name">
            <h1>{{ blogarticle.title }}</h1>
            <p>投稿主：{{ user_name }}</p>
            {% if like_check == True %}
            <a href='/like/{{ blogarticle.id }}' class="no-under">
                <p class="like-count"><span class="fas fa-heart heart red"></span>{{ like_count }}</p>
            </a>
            {% else %}
            <a href='/like/{{ blogarticle.id }}' class="no-under">
                <p class="like-count"><span class="fas fa-heart heart"></span>{{ like_count }}</p>
            </a>
            {% endif %}

        </div>
        {% for tag in tags %}
        <p class='article-tag tag{{ tag.type_id }}'>{{ tag.name }}</p>
        {% endfor %}
        <div class="article-photo">
            <img src="../static/image/{{ blogarticle.image }}">
        </div>
        <div class="article-content">
            {% for content in contents %}
            {% if content.content_type == "headline" %}
            <h2 class="headline">{{ content.text}}</h2>
            {% elif content.content_type == "body" %}
            <p class="body">{{ content.text}}</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="line"></div>
        <div class="gratitude">
            <form method="POST">
                <!-- ログインしていないと書き込めない -->
                {% if current_user.is_authenticated %}
                <h2>感想を伝えてみよう</h2>
                <div class="gratitude-content">
                    <textarea rows="10" type="text" name="comment"></textarea>
                    <input type="submit" class="button" value="伝える">
                </div>
                {% endif %}
            </form>
            <h2>みんなの感想</h2>
            <div class="article-comment">
                <table class="article-table">
                    {% for comment in comments %}
                    <tr>
                        <td class="article-td1">
                            <p>{{ comment_names[comment.contributor_id] }}</p>
                            <p>{{ comment.created_at.strftime("%Y/%m/%d/%H:%M") }}</p>
                        </td>
                        <td class="article-td2">
                            <p>{{ comment.text}}</p>
                        </td>
                    </tr>
                    <tr class="table-span"></tr>
                    {% endfor %}
                </table>
            </div>
            {% if current_user.is_authenticated == False %}
            <a class="login-a" href="/login_session/{{blogarticle.id}}"><input type="submit" class="button login-button" value="ログインして感想を伝える！"></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}