{% extends 'base.html' %}
{% block content %}
<div class="contents">
    <div class="content">
        <div class="search">
            <div class="search-show">
                <h1>自分の投稿一覧</h1>
                <article>
                    {% for blogarticle in blogarticles %}
                    <div class="blog-content2">
                        <div class="search-photo">
                            <img src="/api_image/{{ blogarticle.image_id }}">
                        </div>
                        <a href="/image_update/{{ blogarticle.id }}" class="user" role="button">サムネイルを編集する</a>
                        <h1 class="title">タイトル：{{ blogarticle.title }}</h1>
                        {% for tag in tags[blogarticle.id] %}
                        <p class='tag{{tag["type"]}}'>{{ tag["name"] }}</p>
                        {% endfor %}
                        <p>作成日時：{{ blogarticle.created_at.strftime("%Y/%m/%d/%H:%M") }}</p>
                        <p class="like-count"><span class="fas fa-heart heart red"></span>{{ likes[blogarticle.id] }}</p>
                        <a href="/add_tag/{{ blogarticle.id}}" class="user">タグの追加</a>
                        <a href="/delete_tag/{{ blogarticle.id }}" class="user">タグの削除</a>
                        <br>
                        <a href="/update/{{ blogarticle.id }}" class="user" role="button">記事を編集する</a>
                        <a href="/delete/{{ blogarticle.id }}" class="user" id="user" role="button">記事を削除する</a>
                    </div>
                    {% endfor %}
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}