{% extends 'base.html' %}
{% block content %}

<h1>自分の投稿一覧</h1>
{% for blogarticle in blogarticles %}
<article>
    <h1 class="title">タイトル：{{ blogarticle.title }}</h1>
    {% for tag in tags[blogarticle.id] %}
    <p>{{ tag }}</p>
    {% endfor %}
    <a href="/add_tag/{{ blogarticle.id}}"><p>タグを追加する</p></a>
    <a href="/delete_tag/{{ blogarticle.id }}"><p>タグを削除する</p></a>
    <p>作成日時：{{ blogarticle.created_at.strftime("%Y/%m/%d/%H:%M") }}</p>
    <a href="/update/{{ blogarticle.id }}" role="button">編集</a>
    <a href="/delete/{{ blogarticle.id }}" role="button">削除</a>
    <a href="/image_update/{{ blogarticle.id }}" role="button">画像編集</a>
</article>
{% endfor %}

{% endblock %}