<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{ blogarticle.title }}" />
        <meta name="twitter:description" content=" {{ contents[0].text}}" />
        <meta name="twitter:image" content="https://photos.google.com/share/AF1QipMzwpvXPN4U9nBTPGRRf0AtSW3oqadzFt5TnnGVJzoR8gPqtGaGJEsuYYED6wP0SQ/photo/AF1QipPu0-zaFSxQZuTQD0eo7aR9udmfuiUv9qSBdet-?key=aTA3RU81c016emJ5Mm9BcFBkOXlpLUxCZjBBV0NR" />
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- js -->
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/script.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/slick-theme.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link href="../static/css/styles.css" rel="stylesheet">

        {{ fontawesome_html() }}
    </head>
    <body>
        <div class="yellow">
            <div class="content">
                <header>
                    <div class="header-logo">
                        <a href="/" id="header-logo"><img src="../static/photo/Logo_gray.jpeg"></a>
                    </div>
                    <div class="header-list">
                        <ul>
                            {% if current_user.is_authenticated == True %}
                            <li class="header-img2"><a href="/select">みんなの投稿を検索</a></li>
                            <li class="header-img2"><a href="/create" role="button">新規作成画面</a></li>
                            <li class="header-img2"><a href="/user/show" role="button">自分の投稿一覧</a></li>
                            <li class="header-img2"><a href="/logout" role="button">ログアウト</a></li>
                            {% else %}
                            <li class="header-img2"><a href="/signup" role="button">ユーザー登録</a></li>
                            <li class="header-img2"><a href="/login" role="button">ログイン</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </header>
                <div class="search">
                </div>
            </div>
        </div>
        <!-- flashメッセージ -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </body>












<div class="contents space">
    <div class="article-contents">
        <div class="article-name">
            <h1>{{ blogarticle.title }}</h1>
            <p>投稿主：{{ user_name }}</p>
            {% if like_check == True %}
            <a href='/like/{{ blogarticle.id }}' class="no-under">
                <p class="like-count"><span class="fas fa-heart heart red"></span>{{ like_count }}</p>
            </a>
            {% else %}
            <a href='/like/{{ blogarticle.id }}' class="no-under">
                <p class="like-count"><span class="fas fa-heart heart"></span>{{ like_count }}</p>
            </a>
            {% endif %}

        </div>
        {% for tag in tags %}
        <p class='article-tag tag{{ tag.type_id }}'>{{ tag.name }}</p>
        {% endfor %}
        <div class="article-photo">
            <img src="/api_image/{{ blogarticle.image_id }}">
        </div>
        <div class="article-content">
            {% for content in contents %}
            {% if content.content_type == "headline" %}
            <h2 class="headline">{{ content.text}}</h2>
            {% elif content.content_type == "body" %}
            <p class="body">{{ content.text}}</p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="line"></div>
        <div class="gratitude">
            <form method="POST">
                <!-- ログインしていないと書き込めない -->
                {% if current_user.is_authenticated %}
                <h2>感想を伝えてみよう</h2>
                <div class="gratitude-content">
                    <textarea rows="10" type="text" name="comment"></textarea>
                    <input type="submit" class="button" value="伝える">
                </div>
                {% endif %}
            </form>
            <h2>みんなの感想</h2>
            <div class="article-comment">
                <table class="article-table">
                    {% for comment in comments %}
                    <tr>
                        <td class="article-td1">
                            <p>{{ comment_names[comment.contributor_id] }}</p>
                            <p>{{ comment.created_at.strftime("%Y/%m/%d/%H:%M") }}</p>
                        </td>
                        <td class="article-td2">
                            <p>{{ comment.text}}</p>
                        </td>
                        <td class="article-td3">
                            {% if comment.contributor_id == current_user.id %}
                            <form method="POST">
                                <!-- ログインしていてかつ　コメントを投稿したことがあると削除マーク表示-->
                                {% if current_user.is_authenticated %}
                                <a href='/delete_comment/{{comment.comment_id}}' class="comment-a" role="button"><button
                                        type="button" class="comment-button">削除</button></a>
                                {% endif %}
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    <tr class="table-span"></tr>
                    {% endfor %}
                </table>
            </div>
            {% if current_user.is_authenticated == False %}
            <a class="comment-a" href="/login_session/{{blogarticle.id}}"><input type="submit" class="button login-button" value="ログインして感想を伝える！"></a>
            {% endif %}
            </form>
            <div class="article-comment">
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large"
                data-hashtags="趣味さんぽ" data-show-count="false">Tweetする</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
</html>