{% extends 'base.html' %}
{% block content %}
<div class="contents2">
    <div class="content space">
        <h1 class="create-h1">編集画面</h1>
        <div class="create-contents">
            <div class="create-contents2">
                <form method="POST">
                    <label for="title">タイトル</label>
                    <input class="create-title" type="text" name="title" value={{ blogarticle.title }}>
                    {% for i in range(length) %}
                    <label for="headline">見出し</label>
                    <input class="create-content" type="text" name='headline{{i}}' value={{ headlines[i].text }}>
                    <label for="body">内容</label>
                    <textarea rows="13" type="text" name='body{{i}}' value={{ bodys[i].text }}></textarea>
                    {% endfor %}
                    <input type="submit" value="更新">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}