{% extends 'base.html' %}
{% block content %}
<div class="contents2">
    <div class="content space">
        <h1 class="create-h1">編集画面</h1>
        <div class="create-contents">
            <div class="create-contents2">
                <form method="POST">
                    <table>
                        <thead>
                            <tr>
                                <th><label for="title">タイトル</label></th>
                                <td><input class="create-title" type="text" name="title" value={{ blogarticle.title }}></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(length) %}
                            <tr>
                                <th>
                                    <label for="headline">見出し</label>
                                </th>
                                <td>
                                    <input class="create-content" type="text" name='headline{{i}}' value={{ headlines[i].text }}>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="body">内容</label>
                                </th>
                                <td>
                                    <textarea rows="13" type="text" name='body{{i}}'>{{ bodys[i].text }}</textarea>
                                </td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" class="button" value="更新">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
